$desktop-threshold: 540px;
$maxScreen: 1200px;

body {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.content {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  flex-direction: column;
  max-width: $maxScreen;
}


.header{
  display: flex;
  align-items: center;
  max-width: $maxScreen;
  h1 {
    text-align: center;
    width: 100%;
    font-size: 300%;
    padding: 5px;
  }
  #description {
    display: none;
    font-size: 50%;
    width: 40%;
  }
  @media screen and (min-width: $desktop-threshold) {
    h1 {
      width: 60%;
    }
    #description {
      display: block;
    }
  }
}


#frontPhoto {
  border: 1px solid black;
  img {
    width: 85%;
  }
  @media screen and (min-width: $desktop-threshold) {
    .photo {
      width: 100%;
    }
  }
}

.photoList {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  @media screen and (min-width: $desktop-threshold) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
  width: 100%;
  @media screen and (min-width: $desktop-threshold) {
    width: 33%;
  }
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 75%;
  object-fit: contain;
}

.label {
  width: 100%;
  p {
    text-align: left;
    padding: 0 0 5px 5px;
  }
}
/*

.photo {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 75%;
  min-height: 8rem;
  margin: 0.5rem;

  a {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-decoration: none;
    color: black;
    img {

      width: 100%;
      max-height: 70%;
      object-fit: contain;
    }
  }

  p {
    margin: 0;
  }

  @media screen and (min-width: 540px) {
  .photo {
    width: 33%;
    max-height: 100%;
    img {
      max-height: 100%;
    }
  }
  }
}

@media screen and ( min-width: 540px ) {



}

 */