@import 'partials/_header';
@import 'partials/_variables';


body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  flex-direction: column;
  max-width: $maxScreen;
}





#frontPhoto {
  border: 1px solid black;
  img {
    width: 85%;
  }
  @media screen and (min-width: $desktop-threshold) {
    .photo {
      width: 100%;
    }
  }
}

.photoList {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  @media screen and (min-width: $desktop-threshold) {
    flex-direction: row;
    justify-content: space-evenly;

    .photo {
      width: 33%;
    }
  }
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
  width: 100%;
  @media screen and (min-width: $desktop-threshold) {
  }
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-decoration: none;
}

img {
  width: 75%;
  object-fit: contain;
}

.label {
  width: 100%;
  p {
    text-align: left;
    padding: 0 0 5px 5px;
  }
}

form {
  display: flex;
  flex-direction: column;
}

.newPhoto-formField {
  text-align: center;
  margin: 10px;

  input {
    text-align: center;
  }
}

