body {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: 540px) {
    background-color: violet;
  }
}

.header{
  display: flex;
  align-items: center;
  h1 {
    text-align: center;
    width: 100%;
    font-size: 300%;
  }
  #description {
    display: none;
    font-size: 40%;
    width: 40%;
  }

}

/* @media screen and ( min-width: 540px ) {
  .header{
    background-color: violet;
    display: flex;
    align-items: center;
    h1 {
      text-align: center;
      width: 60%;
      font-size: 100%;
    }
    #description {
      font-size: 40%;
      width: 40%;
    }
  }
} */

.content {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#frontPhoto {
  width: 80%;
}
.photo {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 75%;
  max-height: 23rem;
  min-height: 8rem;
  margin: 0.5rem;

  a {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-decoration: none;
    color: black;
    img {

      width: 100%;
      max-height: 70%;
      object-fit: contain;
    }
  }
  .label {
    max-height: 30%;
    width: 100%;
    p {
      margin: 0;
    }
  }

}

@media screen and ( min-width: 540px ) {



}

