<div class="header">

  <a href="../">
    <div class="banner">
      <h1>_ARCHITEKT</h1>
      <div id = "description">
        <p>Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps.  Free Architect WordPress Theme</p>
      </div>
    </div>
  </a>

  <div class="menu">
    <div class="login">
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
    <div class="userOptions">
      <a href="/gallery/new">Upload</a>
      <a href="">Sign Out</a>
    </div>
  </div>

</div>

<!--
upload
login
logout
register
 -->