<h2>Login</h2>

<form action="/login" method="post">
  <div>
    <div class="newPhoto-formField">
      <label for="username">Username</label>
      <br>
      <input type="text" name="username">
    </div>
    <div class="newPhoto-formField">
      <label for="password">Password</label>
      <br>
      <input type="password" name="password">
    </div>
    <div class="newPhoto-formField">
      <input type="submit" value="Log In">
    </div>
  </div>
</form>
