<form action="/gallery/" method="post">
  <br>
  <div class="form-field">
    <label for="link">image link</label>
    <br>
    <input type="text" id="link" name="link" placeholder="link">
  </div>

  <div class="form-field">
    <label for="author">author</label>
    <br>
    <input type="text" id="author" name="author" placeholder="author">
  </div>

  <div class="form-field">
    <label for="description">description</label>
    <br>
    <input type="text" id="description" name="description" placeholder="description">
  </div>

  <div class="add_meta_field">
    <ul id="meta_fields"></ul>
    <!--
      FIELDS GO HERE
      <li>
        <input class="meta_key" type="text" name="someKey" placeholder="Attribute">
        <input class="meta_value" type="text" name="meta[someKey]" placeholder="Attribute">
      </li>
    -->
    <button id="add_meta_field_button" type="button" >Add Meta Data</button>
  </div>

  <div class="form-field">
    <input type="submit" placeholder="New Photo">
  </div>
</form>
<script src="/js/metaFields.js"></script>
