<form action="/gallery/" method="post">
  <br>
  <label for="link">image link</label>
  <br>
  <input type="text" id="link" name="link" placeholder="link">
  <br>
  <br>
  <label for="author">author</label>
  <br>
  <input type="text" id="author" name="author" placeholder="author">
  <br>
  <br>
  <label for="description">description</label>
  <br>
  <input type="text" id="description" name="description" placeholder="description">
  <br>
  <br>
  <input type="submit" placeholder="New Photo">
</form>