<form action="/register" method="post">
  <h2>Register as new user</h2>
  <div class="form-field">
    <label for="username">Username:</label>
    <br>
    <input type="text" name="username">
  </div>

  <div class="form-field">
    <label for="password">Password:</label>
    <br>
    <input type="password" name="password">
  </div>

  <div class="form-field">
    <input type="submit" value="Register">
  </div>


</form>