body {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  @media screen and (min-width: 540px) {
    body {
      background-color: violet; } }

.header {
  display: flex;
  align-items: center; }
  .header h1 {
    text-align: center;
    width: 100%;
    font-size: 300%; }
  .header #description {
    display: none;
    font-size: 40%;
    width: 40%; }

/* @media screen and ( min-width: 540px ) {
  .header{
    background-color: violet;
    display: flex;
    align-items: center;
    h1 {
      text-align: center;
      width: 60%;
      font-size: 100%;
    }
    #description {
      font-size: 40%;
      width: 40%;
    }
  }
} */
.content {
  display: flex;
  flex-flow: wrap;
  justify-content: center; }

#frontPhoto {
  width: 80%; }

.photo {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 75%;
  height: 10rem;
  border: 1px solid black;
  margin: 0.5rem; }
  .photo img {
    width: 95%;
    border: 1px solid black;
    object-fit: cover; }
  .photo p {
    color: red; }
