body {
  display: flex;
  align-items: center;
  flex-direction: column; }

.content {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  flex-direction: column;
  max-width: 1200px; }

.banner {
  display: flex;
  align-items: center;
  max-width: 1200px; }
  .banner h1 {
    text-align: center;
    width: 100%;
    font-size: 300%;
    padding: 5px; }
  .banner #description {
    display: none;
    font-size: 50%;
    width: 40%; }
  @media screen and (min-width: 540px) {
    .banner h1 {
      width: 60%; }
    .banner #description {
      display: block; } }

#frontPhoto {
  border: 1px solid black; }
  #frontPhoto img {
    width: 85%; }
  @media screen and (min-width: 540px) {
    #frontPhoto .photo {
      width: 100%; } }

.photoList {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  flex-direction: column;
  border: 3px solid black; }
  @media screen and (min-width: 540px) {
    .photoList {
      flex-direction: row;
      justify-content: space-evenly; }
      .photoList .photo {
        width: 33%; } }

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
  width: 100%; }

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  text-decoration: none; }

img {
  width: 75%;
  object-fit: contain; }

.label {
  width: 100%; }
  .label p {
    text-align: left;
    padding: 0 0 5px 5px; }

form {
  display: flex;
  flex-direction: column; }

.form-field {
  text-align: center;
  margin: 10px; }
  .form-field input {
    text-align: center; }

/* form {
  display: flex;
  flex-direction: column;
} */
/*

.photo {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 75%;
  min-height: 8rem;
  margin: 0.5rem;

  a {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-decoration: none;
    color: black;
    img {

      width: 100%;
      max-height: 70%;
      object-fit: contain;
    }
  }

  p {
    margin: 0;
  }

  @media screen and (min-width: 540px) {
  .photo {
    width: 33%;
    max-height: 100%;
    img {
      max-height: 100%;
    }
  }
  }
}

@media screen and ( min-width: 540px ) {



}

 */
