.header {
  display: flex;
  align-items: center;
  font-size: 8; }
  .header p {
    font-size: 40%; }

.content {
  display: flex;
  flex-flow: wrap; }

.photo {
  display: flex;
  flex-flow: wrap;
  width: 33%;
  height: 10rem;
  border: 1px solid black;
  margin: 0.5rem; }
  .photo img {
    width: 95%;
    border: 1px solid black;
    object-fit: cover; }
  .photo p {
    color: red; }
